/* [SGLEE:20240215THU_173100] Created */

@import "./../common//Config.css";

.vl-container {
  margin-bottom: 5rem;

  padding: 0;
  width: 480px;
  height: 400px;

  border: 1px solid var(--content-border-color);
  background-color: var(--content-back-color);
  border-radius: 6px;

  position: absolute;
  z-index: 1010;

  align-self: flex-end;

  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.vl-title {
  padding: 0.5rem;

  background-color: var(--oc-blue-0);

  font-weight: bold;
}

.vl-body {
  border: 1px solid green;

  padding: 2rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  overflow: auto;
}
