<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bluecnt.rental.mapper.CustomersMapper">
	
	<!-- 총 고객 숫자 출력 -->
	<select id="countCustomer" resultType="int">
		SELECT COUNT (*) FROM Customers
	</select>
	
	<!-- 페이징 처리 후 고객정보 조회 -->
	<select id="selectCustomer" resultType="com.bluecnt.rental.dto.CustomerDTO">
		SELECT *
	    FROM (
	        SELECT ROWNUM RN, A.*
	        FROM (
	            SELECT *
	            FROM Customers
	            ORDER BY cust_id DESC
        	) A
		)
    	WHERE RN BETWEEN #{start} AND #{end}
	</select>
	
	<!-- 페이징 처리 후 카테고리선택 및 직접입력조회 -->
	<select id="searchCustomer" resultType="com.bluecnt.rental.dto.CustomerDTO">
	    SELECT *
	    FROM (
	        SELECT ROWNUM RN, A.*
	        FROM (
	            SELECT *
	            FROM Customers
	            WHERE
	            <choose>
	                <when test="category == 'user_email'">
	                    user_email LIKE '%' || #{searchText} || '%'
	                </when>
	                <when test="category == 'name'">
	                    name LIKE '%' || #{searchText} || '%'
	                </when>
	                <when test="category == 'phone_number'">
	                    phone_number LIKE '%' || #{searchText} || '%'
	                </when>
	            </choose>
	            ORDER BY cust_id DESC
	        ) A
	    )
	    WHERE RN BETWEEN #{PagingVO.start} AND #{PagingVO.end}
	</select>
	
	<select id="getAll" resultType="com.bluecnt.rental.dto.CustomerDTO">
		SELECT * FROM Customers
	</select>
	
	<insert id="addCustomer" parameterType="com.bluecnt.rental.dto.CustomerDTO">
		<selectKey keyProperty="cust_id" resultType="int" order="BEFORE">
        	SELECT customers_seq.nextval as cust_id FROM dual
    	</selectKey>
		INSERT INTO Customers (
			cust_id, 
			join_date, 
			user_email, 
			user_pw, 
			name,
			birthday, 
			phone_number, 
			license_number, 
			credit_card_company,
			credit_card_number,
			point,  
			remark)
        VALUES (
        	#{cust_id}, 
        	CURRENT_DATE, 
        	#{user_email}, 
        	#{user_pw},
        	#{name}, 
        	#{birthday}, 
        	#{phone_number}, 
        	#{license_number},
        	#{credit_card_company},
        	#{credit_card_number}, 
        	#{point}, 
        	#{remark})
    </insert>
	
	<select id="getCustomerById" parameterType="com.bluecnt.rental.dto.CustomerDTO">
		SELECT * FROM Customers WHERE cust_id = #{cust_id}
	</select>
	
	<update id="updateCustomer" parameterType="com.bluecnt.rental.dto.CustomerDTO">
	    UPDATE Customers
	    SET
	        user_pw = #{user_pw},
	        name = #{name},
	        birthday = #{birthday},
	        phone_number = #{phone_number},
	        license_number = #{license_number},
	        credit_card_company = #{credit_card_company},
	        credit_card_number = #{credit_card_number},
	        point = #{point},
	        remark = #{remark}
	    WHERE cust_id = #{cust_id}
	</update>
	
	<delete id="deleteCustomer" parameterType="int">
        DELETE FROM Customers
        WHERE cust_id = #{cust_id}
    </delete>
	
</mapper>
