/*
[SGLEE:20240207WED_164900] Created
*/

@import "~open-color/open-color.css";

.addr-cntr {
  margin: 0.5rem;
  padding: 0.5rem;

  border: 1px solid var(--oc-blue-3);
  border-radius: 4px;
  background-color: white;

  /* align-self: stretch; */

  position: absolute;
  width: calc(100% - 1rem);

  z-index: 1000;

  display: flex;
  gap: 0.5rem;
}

.addr {
  padding: 0.25rem;

  /* border: 1px solid var(--oc-blue-3);
  border-radius: 4px; */
  /* background-color: white; */

  flex: 1;

  color: var(--oc-blue-9);
}
