/*
[SGLEE:20240207WED_164900] Created
*/

@import "~open-color/open-color.css";

.time-cntr {
  margin: 0.5rem 0.5rem 1.5rem 0.5rem;
  padding: 0.5rem;

  border: 1px solid var(--oc-blue-3);
  border-radius: 4px;
  background-color: white;

  position: absolute;
  width: calc(100% - 1rem);
  justify-self: flex-end;
  align-self: flex-end;
  z-index: 1001;

  display: flex;

  cursor: pointer;
}

.time-label {
  /* border: 1px solid green; */

  font-weight: bold;
}

.time-rent-time {
  /* border: 1px solid blue; */

  margin-left: auto;

  color: var(--oc-blue-9);
}
