/* 
[SGLEE:20240213TUE_140200] Created
*/

@import "./../../components/common/Config.css";

.container {
  padding: 0;
  width: 480px;

  border: 1px solid var(--content-border-color);
  background-color: var(--content-back-color);
  border-radius: 8px;

  overflow: hidden;

  position: absolute;
  justify-self: center;
  align-self: center;

  display: flex;
  flex-direction: column;
}

.header {
  padding: 0.5rem;

  background-color: var(--oc-blue-0);

  font-weight: bold;
}

.body {
  /* border: 1px solid green; */

  padding: 2rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.rent-datetime {
  /* border: 1px solid blue; */

  display: flex;
  justify-content: center;
  gap: 1rem;
}

.rent-datetime-title {
  /* border: 1px solid red; */

  color: var(--oc-blue-9);
}

.rent-datetime-content-date {
  /* border: 1px solid red; */

  display: flex;

  cursor: pointer;
}

.rent-datetime-content-time {
  /* border: 1px solid red; */

  display: flex;

  cursor: pointer;
}

.footer {
  /* border: 1px solid red; */

  padding: 1rem;

  background-color: var(--oc-gray-0);

  display: flex;
  justify-content: center;
}
