/* [SGLEE:20240215THU_173100] Created */

@import "./../../components/common/Config.css";

.vl-container {
  margin-bottom: 5rem;

  padding: 0;
  width: 480px;

  border: 1px solid var(--content-border-color);
  background-color: var(--content-back-color);
  border-radius: 8px;

  overflow: hidden;

  position: absolute;
  justify-self: center;
  align-self: flex-end;

  display: flex;
  flex-direction: column;
}

.vl-header {
  padding: 0.5rem;

  background-color: var(--oc-blue-0);

  font-weight: bold;
}

.vl-body {
  /* border: 1px solid green; */

  padding: 2rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  overflow: auto;
}
