/* 
[SGLEE:20240222THU_141300] Created
*/

.rlp-vehicle-container {
  border: 1px solid var(--oc-blue-2);

  padding: 0.5rem;

  flex: 1;

  display: flex;
  gap: 0.5rem;
}

.rlp-vehicle-img {
  /* border: 1px solid green; */

  display: flex;
  align-items: center;
}

.rlp-vehicle-info {
  /* border: 1px solid red; */

  flex: 1;
}

.rlp-v-info-name {
  font-weight: bold;
}

.rlp-v-info-time {
  color: gray;
}

.rlp-vehicle-btns {
  /* border: 1px solid magenta; */

  margin: 0.25rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}
